<comp-navbar></comp-navbar>
<div class="container mx-auto mt-8 mb-10">
   <!-- alert -->
   <div *ngIf="isSuccess" class="mx-3 p-5 my-3 bg-teal-100 text-teal-900 rounded">
      {{ successMessage }}
   </div>

   <div class="flex flex-wrap justify-center gap-4 m-3">
      <div class="shadow-lg border-2 border-gray-900">
         <img [src]="siteImgURL" alt="" class="w-96">
         <h3 class=" text-xl font-bold m-3">{{siteName}}</h3>
         <div class="mx-2 my-3 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
            <a [href]="siteURL" target="_blank" >{{siteURL}}</a>
         </div>
      </div> 
      <div class="px-7 py-5 border-2 border-gray-900">
         <h2 class="text-3xl text-center">{{formState}} User & Password</h2>
         <p class="mb-5 text-center">You can {{formState}} user & password from the below form.</p>
         <form #form="ngForm" (submit)="onSubmit(form.value)">
            <div class="flex flex-col">
               <label class="text-lg font-medium mb-2">Username</label>
               <input [(ngModel)]="username" type="text" name="username" class="border-2 border-gray-900 p-2 rounded-lg w-full">
            </div>
            <div class="flex flex-col">
               <label class="text-lg font-medium mb-2">Email</label>
               <input [(ngModel)]="email" type="email" name="email" class="border-2 border-gray-900 p-2 rounded-lg w-full">
            </div>
            <div class="flex flex-col">
               <label class="text-lg font-medium mb-2">PassWord</label>
               <input [(ngModel)]="password" type="password" name="password" class="border-2 border-gray-900 p-2 rounded-lg w-full">
            </div>
            <button class="mt-5 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
               {{formState}} Password
            </button>
         </form>
         <button (click)="onCancel()" class="mt-2 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md">
            Cancel
         </button>
      </div>
   </div>

   <table class="mx-3 mt-10 w-full table-auto">
         <thead>
            <tr class="bg-gray-200 text-center">
               <th class="border-2 border-gray-900">Username</th>
               <th class="border-2 border-gray-900">Email</th>
               <th class="border-2 border-gray-900">PassWord</th>
               <th class="border-2 border-gray-900">Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="text-center" *ngFor="let p of passwordList; let i = index">
               <td class="border-2 border-gray-900 p-3">{{ p.username }}</td>
               <td class="border-2 border-gray-900 p-3">{{ p.email }}</td>
               <td class="border-2 border-gray-900 p-3">
                  {{ p.password }}
                  <button *ngIf="isDecrypted" (click)="onDecrypt(p.password, i)" class="mx-0.5 px-3 py-1 text-sm bg-red-400 text-white shadow rounded-md">Decrypt</button>
                  <button *ngIf="!isDecrypted" (click)="onEncrypt(p.password, i)" class="mx-0.5 px-3 py-1 text-sm bg-red-400 text-white shadow rounded-md">Encrypt</button>
               </td>
               <td class="border-2 border-gray-900 p-3">
                  <button (click)="editPassword(p.username, p.email, p.password, p.id)" class="mx-0.5 px-3 py-1 text-sm border-2 bg-gray-900 text-white shadow rounded-md">
                     Edit
                  </button>
                  <button (click)="deletePassword(p.id)" class="mx-0.5 px-3 py-1 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md">
                     Delete
                  </button>
               </td>
            </tr>
         </tbody>
   </table>

</div>